body {
  max-width: 540px;
  margin: auto;
  padding: 1em;
}

header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 1.7em;
}

#canvas {
  width: 100%;
}

#canvas:hover {
  cursor: pointer;
}

main > button {
  display: block;
}
