body {
  max-width: 540px;
  margin: auto;
  padding: 1em;
}

header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 1.7em;
}

#canvas {
  width: 100%;
  /* box-shadow: 0 0 5px 0px black; */
}
main > button {
  display: block;
}
